/* Start Page */
#startHome{
    background-image: url("../Images/beforeStart/backGroung.jpg");
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#logo{
    position: absolute;
    left: 360px;
}
.main{
    position: relative;
    width: 230px;
    height: 60px;
    top: 250px;
    left: 980px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 254, 235); 
    color: rgb(92, 55, 30); 
    border: 5px solid #a31c0d;
}
#aboutus:hover{
    cursor: help;
}
.main:hover {
    box-shadow: 0 12px 16px 0 rgb(92, 55, 30);
}
#redHedBoy{
    float: left;
    position: absolute;
    top:200px;
    left:140px;
    height: 400px;
}
#popupUserName{
    display: none;
    z-index:2;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:  #a31c0d6e; /* Black w/ opacity */    
    width: 60%; /* Full width */
    height: 70%; /* Full height */
    position: fixed; /* Stay in place */
    top:180px;
    left:300;
    animation: apper 0.5s;
}
@keyframes apper{
    0%{opacity: 0;}
    20%{opacity: 0.2;}
    40%{opacity: 0.4;}
    60%{opacity: 0.6;}
    80%{opacity: 0.8;}
    100%{opacity: 1;}
}
#popup-content{
    background-color: #ffffff;
    margin-left: 50px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    text-align: center;
    position:absolute;
}
#popuptext{
    font-size: 50px;
    font-weight: bold;
    color: #a31c0d;   
}
#temp{
    position: relative;
    color: red;
}
#pName{
    position: relative;
    margin-top:10px; 
    width: 500px;
    height: 50px;
    border: 3px solid #555;
}
#pName[type=text]{
    color: rgb(87, 42, 5);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
}
#pName[type=text]:focus{
    outline: none;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
#getPName{
    position: relative;
    top:60px;
    width: 25%;
    height: 60px;
    cursor: pointer;
    background-color: rgb(255, 254, 235); 
    border: 5px solid #a31c0d;
}
#getPName label{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 25px;
    font-weight: bold;
    color: rgb(92, 55, 30); 
}
#getPName label:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}
#getPName:hover label {
    padding-left: 25px;
}  
#getPName:hover label:after {
    opacity: 1;
    left: 0;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

#popupAboutus{
    display: none;
    z-index:2;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:  #a31c0d6e; /* Black w/ opacity */    
    width: 80%; /* Full width */
    height: 70%; /* Full height */
    position: fixed; /* Stay in place */
    top:180px;
    left:120;
    animation: apper 0.5s;
}
#aboutus-content{
    background-color: #ffffff;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 80%;
    text-align: center;
    position:absolute;
}
#exitPopUp{
    display: none;
    z-index:2;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:  #a31c0d6e; /* Black w/ opacity */    
    width: 50%; /* Full width */
    height: 35%; /* Full height */
    position: absolute; /* Stay in place */
    top:250px;
    left:340px;
    animation: apper 0.5s;
}
#exitContent{
    background-color: #ffffff;
    margin-left: 8px;
    margin-top: 12px;
    padding: 20px;
    border: 6px solid rgb(92, 55, 30);
    width: 97%;
    height:90%;
    text-align: center;
    position:absolute;
}
#Q{
    color: #a31c0d;
    opacity:1;
    right: 10px;
}
.exitOP{
    width: 120px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 80px;
    cursor: pointer;
    background-color: rgb(255, 254, 235); 
    color: rgb(92, 55, 30); 
    border: 5px solid #a31c0d;
}
#highspan{
    right: 6px;
    bottom: 2px;
}
#highestScorePOPUP{
    display: none;
    z-index:2;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:  #a31c0d6e;/* Black w/ opacity */    
    width: 30%; /* Full width */
    height: 70%; /* Full height */
    position: absolute; /* Stay in place */
    top:170px;
    left:460px;
    animation: apper 0.5s;
    overflow: hidden;
}
#highestScoreContent{
    background-color: #ffffff;
    left: 15px;
    top: 18px;
    border: 6px solid rgb(92, 55, 30);
    width: 90%;
    height: 90%;
    position:absolute;
    overflow: hidden;
}
#list{
    background-color: #ffffffb7;
    width: 105%;
    height: 86%;
    top:30px;
    position:absolute;
    overflow: hidden;
    overflow-y: scroll;
}
ol {
   list-style: none;
  }
  li {
    counter-increment: item;
    margin-bottom: 5px;
    width: 100%;

  }
  li:before {
      
    margin-right: 10px;
    content: counter(item);
    background: brown;
    border-radius: 100%;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block;
}


/* Load Page */
#load{
    display: none;
    width: 100%;
    height: 100%;
    cursor: wait;
    animation: load 0.5s;
}
@keyframes load{
    0% { opacity: 0.1;}
    20% { opacity: 0.4;}
    50% {opacity: 0.5;}
    80% {opacity: 0.8;}
    100%{opacity: 1;}
}

#txt{
    height: 70%;
    font-size: 130px;
    text-align: center;
    color: #a31c0d;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    opacity:1;
}
#myProgress {
    width: 100%;
    background-color: #ddd;
    position: absolute;
    top: 540px;
    left: 0px;
} 
#myBar {
  width: 1%;
  height: 30px;
  background-color:  #a31c0d; 
  top: 400px;
}
#boy{
    position: absolute;
    left: 1%;
    top: 440px;
    z-index: 1;
}
